.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  min-height: 105vh;
}

.mainSection1,.mainSection3{
  width: 45%;
  height: 105vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* --------------------------------------------------------------------------------------------- */

.mainSection2{
  width: 55%;
  height: 95vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.header{

  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 45px;
  color: #3C8D98;
  padding:35px;
}

.mainSection2a{
  width: 75%;
  height: 68vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

} 

.messageImg{
  transform: rotate(-30deg);
}

