.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    min-height: 84vh;
  }
  
.mainSection1, .mainSection2{
  width: 80%;
}

.mainSection1{
  height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 63px;
  color: #000000;
}

.mainSection2{
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainSection2a{
  width: 35%;
  height: 100%;
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap:20px;
  padding-top: 3%;
}

.mainSection2b{
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
}

.mainSection2c{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap:20px;
  padding-top: 3%;
}

.particularButt,.basketButt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 150%;
  height: 150%;
  background: #F0FEFF;
  border-radius: 15px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #3C8D98;
  margin-left: -25%;
}

.particularButt:hover,.basketButt:hover{
  width: 160%;
  height: 160%;
  color: #b6faf9;
}

.text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #FF0000;
  margin-top: 15%;
  margin-right: 5%
}